<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883071014839-0o6tn4mqtgecmvn8gai6lv50pgsvjjd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883071014839-0o6tn4mqtgecmvn8gai6lv50pgsvjjd4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>883071014839-m8votbi2q92vs9eu9tuu8n6mveacgd6n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHiedOxWSdmw8JgLFTbTVEJTdjM1PQ4p0</string>
	<key>GCM_SENDER_ID</key>
	<string>883071014839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fbb.fightblightbmore</string>
	<key>PROJECT_ID</key>
	<string>fightblightbmore-d1f8c</string>
	<key>STORAGE_BUCKET</key>
	<string>fightblightbmore-d1f8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883071014839:ios:22b576366df45e6e3efa32</string>
</dict>
</plist>